$box-size:  4%;
$height:    25;
$width:     25;

.brain {
    width: 100%;
    max-width: 414px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;

    .box {
        height: $box-size;
        width: $box-size;
        padding-bottom: $box-size;
    }

}

.swatch {
    width: 100%;
    padding-bottom: $box-size;
    margin: 4px 0;
}


@import "betterPicker";
